.tag {
    border: 1px solid #bbb;
    border-radius: 18px;
    padding: 0 12px;
    height: 32px;
    line-height: 32px;
    background-color: #fff;
    margin: 0 4px;
    display: inline-block;
    text-align: center;
    color: #ffffff;
    background-color: rgba(0,0,0,.2);
}

.headerTag {
    margin: 0 5px 0 0;
    height: 33px;
    line-height: 30px;
    padding: 0 16px;
    border: none;
    position: relative;
    top: -2px;
}

.text {
    max-width: 110px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
}

.iconClose {
    margin-left: 8px;
    font-size: 9px;
    font-weight: 700;
    vertical-align: middle;
}

.rippleParent {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 1;
}

.rippleParent .ripple {
    top: 0;
    left: 0;
    width: 0;
    height: 0;
}

.ripple {
    position: absolute;
    background: rgba(0,0,0,.1);
    border-radius: 50%;
    opacity: 1;
    -webkit-transform: scale(0);
    transform: scale(0);
}
