.container {
  margin-bottom: 20px;
}

.title {
  font-size: 12px;
  color: #7f7f7f;
  background-color: #f4f4f4;
  height: 36px;
  line-height: 36px;
  padding: 0 12px;
}

.changeButton {
  color: #5e23dc;
  font-size: 12px;
  float: right;
}
