.filter {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.hideFilter {
  -webkit-transform: translateY(-50px);
  transform: translateY(-50px);
}

.filterHeader {
  position: fixed;
  top: 0;
  left: 0;
  line-height: 50px;
  width: 100%;
  height: 50px;
  background-color: #5e23dc;
  color: #fff;
}

.filterHeaderLeft {
  font-size: 16px;
  color: #fff;
  float: left;
  text-align: center;
  width: 45px;
  line-height: 50px;
  padding-left: 5px;
  padding-top: 1px;
}

.filterHeaderMiddle {
  line-height: 50px;
  width: 85%;
  height: 50px;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.filterHeaderDefaultText {
  overflow: scroll;
}
