@import url(fonts.css);

body {
  margin: 0;
  font-family: Helvetica Neue !important;
  font-weight: 300;
  font-size: 14px;
  color: #454545;
  background-color: #fff;
}

a {
  color: #454545;
  text-decoration: none;
}

a:hover {
  color: #4a8dff;
}

/* Home page start */

.app-container .my-drawer {
  position: relative;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.app-container .my-drawer .am-drawer-sidebar {
  background-color: #fff;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.app-container .my-drawer .am-drawer-sidebar .am-list {
  width: 300px;
  padding: 0;
}

.app-container .am-navbar {
  background-color: #fff !important;
  color: #000;
}

.app-container .am-navbar img {
  float: left;
  height: 20px;
}

.app-container .am-card-body {
  padding: 0;
}

.app-container .am-card-body .post-item {
  padding-bottom: 15px;
  padding-top: 15px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #f6f6f6;
  box-sizing: border-box;
}

.app-container .am-card-body .post-item.active,
.app-container .am-card-body .post-item:hover {
  border-top: 1px solid #3a65f9;
  border-bottom: 1px solid #3a65f9;
  background: #efefef;
  box-sizing: border-box;
}

.app-container .am-card-body .item-display a {
  color: #454545;
  text-decoration: none;
}

.app-container .am-card-body .item-display a:hover {
  color: #454545;
}

.app-container .am-card-body .property {
  padding: 15px 0 0 10px;
}

.app-container .am-card-body .property span {
  margin-right: 40px;
}

.app-container .am-card-body .item-display {
  display: flex;
  padding: 15px 0 0 10px;
}

.app-container .am-card-body .item-display img {
  object-fit: cover; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  width: 110px;
  height: 95px;
}

.app-container .am-card-body .item-display .item-info {
  line-height: 1;
  margin: 0 10px;
}

.app-container .am-card-body .item-display .item-info .like-button {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fe475e;
  font-size: 24px;
}

.app-container .am-card-body .item-display .item-info .title {
  margin: 0;
  font-size: 16px;
  color: #222;
}

.app-container .am-card-body .item-display .item-info .title h3 {
  background: transparent;
  padding-bottom: 0;
  padding: 0;
  max-height: 34px;
  overflow: hidden;
  margin: 0;
  font-size: 16px;
  color: #222;
}

.app-container .am-card-body .item-display .item-info .subtitle {
  margin: 0;
  color: #aaa;
  font-size: 12px;
  min-height: 18px;
}

.app-container .am-card-body .item-display .item-info .type-sell {
  width: 82px;
  height: 24px;
  line-height: 24px;
  font-size: 10px;
  padding-right: 10px;
  color: #fff;
  text-align: center;
  background: url(/images/sell_bg.png) no-repeat;
}

.app-container .am-card-body .item-display .item-info .type-rent {
  width: 82px;
  height: 24px;
  line-height: 24px;
  font-size: 10px;
  padding-right: 10px;
  color: #fff;
  text-align: center;
  background: url(/images/rent_bg.png) no-repeat;
}

.app-container .am-card-body .item-display .item-info .price {
  margin: 8px auto;
}

.app-container .am-card-body .item-display .item-info .price span {
  font-size: 30px;
}

.app-container .am-card-body .item-display .item-info .post-date {
  position: absolute;
  top: 62px;
  right: 10px;
  text-align: right;
  font-size: 12px;
  color: #aaa;
  display: block;
  width: 80px;
  float: left;
  margin-top: 20px;
}

.app-container .am-card-body .item-display .item-info .post-date span {
  font-size: 14px;
  color: #3a65f9;
}

.app-container .am-card-body .location {
  margin-top: 20px;
  padding-top: 10px;
  margin-left: -13px;
  margin-right: -15px;
  padding-left: 13px;
  margin-top: 25px;
  border-top: 1px solid #dfdfdf;
  color: #888;
  margin: 10px auto;
  max-height: 50px;
  overflow: hidden;
}

.compact {
  background: url('/images/icon/ic_view_compact.png') no-repeat 0;
}

.bedroom {
  background: url('/images/icon/ic_hotel.png') no-repeat 0;
}

.bathroom {
  background: url('/images/icon/ic_bathtub.png') no-repeat 0;
}

.gara {
  background: url('/images/icon/ic_directions_car.png') no-repeat 0;
}

.compass {
  background: url('/images/icon/ic_compass.png') no-repeat 0;
}

.floor {
  background: url('/images/icon/ic_offices-buildings.png') no-repeat 0;
}

.compact,
.bedroom,
.bathroom,
.gara,
.compass,
.floor {
  padding-left: 25px;
  height: 20px;
  line-height: 20px;
}

/* Home page end */

/* Detail page start */

.app-container .breadcrumb {
  border: 1px solid #dfdfdf;
  background: #fff;
  padding: 10px;
  font-weight: 400;
}

.app-container .am-flexbox-item .product-info {
  border: 1px solid #dfdfdf;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: #fff;
}

.app-container .am-flexbox-item .product-info h1 {
  margin-bottom: 0;
  font-size: 18px;
  font-weight: bold;
}

.app-container .am-flexbox-item .product-info .post-date {
  display: contents;
  margin: 0;
  color: #888;
}

.app-container .am-flexbox-item .product-info .price {
  font-size: 22px;
  color: #3a65f9;
  margin-top: 9px;
  margin-bottom: 0;
}

.app-container .am-flexbox-item .product-info .property {
  background: transparent;
}

.app-container .am-flexbox-item .product-info .property span {
  font-weight: bold;
}

.app-container .am-flexbox-item .product-info .location {
  border-top: 1px solid #f6f6f6;
  position: relative;
  padding-top: 17px;
  margin: 20px 0;
}

.app-container .am-flexbox-item .product-info .location span.title {
  position: absolute;
  top: -12px;
  display: block;
  padding-right: 5px;
  background: #fff;
  color: #888;
}

.app-container .am-flexbox-item .product-info .button-group {
  border: none;
  text-align: inherit;
  margin-top: 15px;
  margin-bottom: 15px;
}

.app-container .am-flexbox-item .product-info a {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  margin: 10px auto;
  width: 123px;
}

.app-container .am-flexbox-item .product-info a img {
  padding: 5px;
  border-radius: 3px;
  margin-right: 10px;
}

.app-container .am-flexbox-item .product-info a.like {
  color: #fe475e;
}

.app-container .am-flexbox-item .product-info a.report {
  text-align: right;
  color: #ffa76e;
}

.app-container .am-flexbox-item .product-info a.like img {
  border: 1px solid #fe475e;
}

.app-container .am-flexbox-item .product-info a.report img {
  border: 1px solid #ffa76e;
}

.app-container .am-flexbox-item .slider .slider-list img {
  object-fit: cover; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  height: 255px;
}


/* Contact box */

.app-container .am-flexbox-item .contact-box {
  margin-left: 5px;
  margin-right: 5px;
}

.app-container .am-flexbox-item .contact {
  border: 1px solid #dfdfdf;
  background-color: #fff;
  padding: 22px 10px;
}

.app-container .am-flexbox-item .contact h3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}

.app-container .am-flexbox-item .contact i {
  width: 20px;
  font-size: 16px;
  text-align: center;
}

.app-container .am-flexbox-item .contact i.fa-mobile {
  font-size: 22px;
}

.app-container .am-flexbox-item .contact i.fa-square {
  font-size: 10px;
  color: #aaaaaa;
}

.app-container .am-flexbox-item .contact:hover {
  background: #f4f7ff;
}

.app-container .am-flexbox-item .contact a {
  color: #3a65f9;
  border: 1px solid #3a65f9;
  background: transparent;
}

.app-container .am-flexbox-item .contact a:hover {
  color: #ffffff;
  background: #3a65f9;
}

.app-container .am-flexbox-item .contact:hover a {
  color: #ffffff;
  background: #3a65f9;
}

.app-container .am-flexbox-item .call-chat {
  margin: 15px auto;
  padding: 15px 30px;
  background: #6b92ff;
}

.app-container .am-flexbox-item .call-chat a {
  display: inline-block;
  height: 22px;
  line-height: 22px;
  padding-left: 33px;
  color: #fff;
}

.app-container .am-flexbox-item .call-chat a:hover {
  color: #ffffff;
}

.app-container .am-flexbox-item .call-chat a.call {
  background: url('/images/icon/ic_call.png') no-repeat left;
  border-right: 1px solid #fff;
  width: 103px;
}

.app-container .am-flexbox-item .call-chat a.chat {
  background: url('/images/icon/ic_chat.png') no-repeat left;
  margin-left: 30px;
}

/* location search */

.app-container .am-flexbox-item .location-search {
  margin-left: 5px;
  margin-right: 5px;
  background-color: #fff;
}

.app-container .am-flexbox-item .location-search .nearby div {
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
  display: inline-block;
}

.app-container .am-flexbox-item .location-search .nearby div .title {
  color: #3a65f9;
  font-weight: 400;
}

.app-container .am-flexbox-item .location-search .nearby div p span {
  float: right;
  font-weight: 300 !important;
  color: #aaaaaa;
}

.app-container .am-flexbox-item .location-search .nearby {
  overflow-y: scroll;
  height: 320px;
}
/* Detail page end */


/* Footer page */

.footer {
  color: #fff;
}

.footer .info {
  padding-top: 10px;
  text-align: center;
  background: linear-gradient(#63c9ff, #3a65f9);
  color: #fff;
}

.footer .link-app {
  margin-left: -10px;
}

.footer .social-icon a {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  text-align: center;
  border-radius: 21px;
  border: 1px solid #fff;
  margin-right: 10px;
  color: #fff;
  text-decoration: none;
}

.footer .copyright {
  border-top: 1px solid #ffff54;
  margin-top: 40px;
  padding: 23px 0px;
  text-align: center;
  font-size: 12px;
  color: #9bb2ff;
}

.footer .copyright p {
  margin: 0px;
}
