@import url(fonts.css);

body {
  margin: 0;
  font-family: Helvetica Neue !important;
  font-weight: 300;
  font-size: 14px;
  color: #454545;
}

body.search {
  background: url('../images/home_header_bg.png') no-repeat top center;
}

a {
  color: #454545;
  text-decoration: none;
}

a:hover {
  color: #4a8dff;
}

h2 {
  font-size: 30px;
  font-weight: normal;
  color: #454545;
}

h3 {
  font-size: 16px;
}

ul {
  list-style: none;
  padding-left: 0;
}

.justify-content-center {
  display: flex;
  justify-content: space-around;
}

.home .app-container {
  background-color: rgb(255, 255, 255, 0.88);
  height: 734px;
  min-width: 1170px !important;
}

.container {
  width: 1170px;
  margin-right: auto;
  margin-left: auto;
}

.logo {
  padding-top: 23px;
  padding-bottom: 23px;
  float: left;
}

ul.menu {
  padding-left: 35px;
  list-style: none;
  padding-top: 23px;
  margin: 0 auto;
  float: left;
  height: 36px;
  line-height: 36px;
}

ul.menu li {
  display: inline-block;
  padding-right: 31px;

  /*font-family: Helvetica Neue;*/
  font-size: 16px;
}

ul.menu li a {
  text-decoration: none;

  /*color: #454545;*/
}

ul.right-menu {
  float: right;
  padding-top: 16px;
}

ul.right-menu li {
  padding: 0;
}

ul.right-menu li:first-child::after {
  content: '|';
  padding: 0 10px;
}

ul.right-menu li.right-info {
  position: relative;
  margin-right: 25px;
  top: 10px;
}

ul.right-menu li.right-info::after {
  content: none;
}

.right-menu .right-info span.chat-icon {
  background: url('../images/icon/chat-blue.png');
}

.right-menu .right-info span.ring-icon {
  background: url('../images/icon/ring-blue.png');
  margin-right: 15px;
}

ul.right-menu li img.avatar {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  border: 1px solid #3a65f9;
}

ul.right-menu .button {
  display: block;
  padding: 6px 46px;
  margin-left: 18px;
  border: 1px solid #fda705;
  border-radius: 25px;
  background: linear-gradient(#ffca19, #ffba00);
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
}

.search {
  margin-top: 96px;
}

.search h2 {
  margin: 0 auto;
  font-weight: lighter;
  font-size: 36px;
  color: #111;
  text-align: center;
}

.search .select-box {
  width: 200px;
  padding-top: 23px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.search .select-box label {
  font-size: 16px;
  font-weight: 300;
}

/* Customize the label (the container) */
.search .radio-container {
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.search .radio-container:first-child {
  margin-right: 30px;
}

/* Hide the browser's default radio button */
.search .radio-container input {
  position: absolute;
  opacity: 0;
}

/* Create a custom radio button */
.search .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.search .radio-container:hover input ~ .checkmark {
  background-color: #ccc;
}

.search .radio-container input:checked ~ .checkmark::after {
  background-color: #454545;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.search .checkmark::after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.search .radio-container input:checked ~ .checkmark::after {
  display: block;
}

.search .radio-container input:checked ~ .checkmark {
  border: 1px solid #454545;
}

/* Style the indicator (dot/circle) */
.search .radio-container .checkmark::after {
  top: 6px;
  left: 6px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: white;
}

/* Search box */

.search-box {
  width: 846px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
}

.top-search-box {
  border-radius: 6px 6px 0 0;
  background: linear-gradient(#4a8dff, #63c9ff);
  box-shadow: 0 3px 6px 0 #00000014;
  padding: 21px 46px;
}

.top-search-box .select {
  width: 175px;
  float: left;
}

.top-search-box .select::after {
  content: url('../images/icon/arrow-down.png');
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 13px 10px;
  background: #f5f5f5;
  pointer-events: none;
  border-radius: 0 3px 3px 0;
}

/* Transition */
.top-search-box .select:hover::after {
  background-color: #ccc;
}

.top-search-box .keyword input {
  width: 530px;
  height: 42px;
  border: none;
  border-radius: 3px;
  padding: 0 16px;
  font-size: 16px;
}

/* Bottom search box */
.bottom-search-box {
  padding: 16px 37px;
  background: #fff;
  box-shadow: 0 3px 6px 0 #00000014;
  height: 118px;
}

.bottom-search-box label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 300;
}

.bottom-search-box .select {
  margin: 0 9px;
  width: 175px;
  float: left;
}

.bottom-search-box .select::after {
  content: url('../images/icon/arrow-down.png');
  position: absolute;
  top: 33px;
  right: 1px;
  bottom: -31px;
  padding: 15px 10px;
  background: #f5f5f5;
  pointer-events: none;
  border-radius: 0 3px 3px 0;
}

/* Transition */
.bottom-search-box .select:hover::after {
  background-color: #ccc;
}

.bottom-search-box .select .dropdown span,
.top-search-box .select .dropdown span {
  display: block;
  line-height: 48px;
  border: 1px solid #dfdfdf;
  border-radius: 3px;
  padding: 0 15px;
  font-size: 16px;
}

.top-search-box .select .dropdown span {
  background: #fff;
}

.bottom-search-box .select .header-box span {
  border: none;
  padding: 5px;
}

.search-box button {
  display: block;
  width: 160px;
  height: 50px;
  border-radius: 25px;
  border: 1px solid #ff1d3a;
  background: linear-gradient(#ff8695, #ff1d3a);
  margin: 24px auto;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}

.download {
  display: block;
  width: 200px;
  margin: 4px auto;
  text-align: center;
  color: #888;
}

.download .app-icon {
  font-size: 30px;
}

.download .app-icon span:first-child::after {
  content: '|';
  padding: 0 29px;
}

.download .app-icon span:last-child {
  margin-left: -8px;
}

.clearfix {
  clear: both;
}

/*
*
* HOME CONTENT
*
*/

.featured-posts {
  margin-top: 54px;
  overflow: hidden;
}

.lastest-posts {
  margin-top: 30px;
  overflow: hidden;
}

#home-content h2 {
  padding-bottom: 10px;
  position: relative;
  margin-bottom: 20px;
}

#home-content h2 span {
  color: #888;
  font-size: 16px;
  font-weight: lighter;
  padding-left: 15px;
  margin-left: 15px;
  border-left: 1px solid #aaa;
}

#home-content h2 .toolbox {
  position: absolute;
  right: 0;
  top: -2px;
}

#home-content h2 .toolbox label {
  font-size: 14px;
  font-weight: 300;
}

#home-content h2 .toolbox select {
  height: 40px;
  border-color: #ebebeb;
  color: #888;
  font-size: 14px;
  display: inline-block;
  margin-right: 50px;
}

.listview-button,
.gridview-button {
  display: inline-block;
  padding-right: 10px;
}

.listview-button a,
.gridview-button a {
  display: block;
  width: 25px;
  height: 20px;
}

.listview-button a {
  background: url('../images/icon/listview.png');
}

.gridview-button a {
  background: url('../images/icon/gridview.png');
}

.listview-button.active a {
  background: url('../images/icon/listview-active.png');
}

.gridview-button.active a {
  background: url('../images/icon/gridview-active.png');
}

#home-content .featured-posts ul {
  list-style: none;
  padding: 0;
}

#home-content .featured-posts ul li {
  display: inline-block;
  float: left;
  margin-bottom: 15px;
  width: 317px;
  height: 179px;
  position: relative;
  font-size: 16px;
}

#home-content .featured-posts ul li:first-child {
  margin-right: 15px;
  width: 504px;
  height: 372px;
}

#home-content .featured-posts h2 {
  position: relative;
}

#home-content .featured-posts h2 span {
  position: absolute;
  bottom: 10px;
  right: 0;
  border: none;
  font-size: 14px;
}

#home-content .featured-posts ul li:first-child .caption-content .post-title {
  font-size: 24px;
}

#home-content .featured-posts ul li:nth-child(even) {
  margin-right: 15px;
}

#home-content .featured-posts ul li .caption {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(rgb(255, 255, 255, 0%), #222);
}

.caption-content {
  position: absolute;
  bottom: 4px;
  color: #fff;
}

.caption-content p .post-title {
  font-size: 16px;
}

.caption-content p {
  margin: 6px 16px;
  font-size: 14px;
}

.caption-content p a {
  color: #fff;
  text-decoration: none;
}

.caption-content .post-title {
  font-size: 16px;

  /*font-weight: bold;*/
}

.cat-title {
  padding-left: 10px;
  font-weight: lighter;
  border-left: 2px solid;
}

.border-left-red {
  border-left-color: #fe475e;
}

.border-left-cyan {
  border-left-color: #63c9ff;
}

.border-left-green {
  border-left-color: #19bf25;
}

/* Homepage list view content */

#home-content .toolbox ul {
  display: inline-block;
}

.listview-left {
  width: 600px;
  padding-left: 15px;

  /*padding-right: 15px;*/
  overflow: hidden;
  float: left;
  border-right: 1px solid #dfdfdf;
}

.gridview {
  margin-left: 8px;
  margin-right: 8px;
}

.post-item {
  padding-bottom: 15px;
  padding-top: 15px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #f6f6f6;
  box-sizing: border-box;
}

.post-item.active,
.post-item:hover,
.gridview .post-item.active,
.gridview .post-item:hover {
  border-top: 1px solid #3a65f9;
  border-bottom: 1px solid #3a65f9;
  background: #efefef;
  box-sizing: border-box;
}

.item-thumbnail {
  width: 250px;
  height: 216px;
  float: left;
  position: relative;
}

.item-thumbnail img {
  width: 100%;
  height: 100%;
}

.item-thumbnail .type {
  position: absolute;
  top: 13px;
  left: 0;
  width: 82px;
  height: 24px;
  line-height: 24px;
  font-size: 10px;
  padding-right: 10px;
  color: #fff;
  text-align: center;
}

.item-thumbnail .chothue {
  background: url(../images/icon/thue_bg.png) no-repeat;
}

.item-thumbnail .ban {
  background: url(../images/icon/ban_bg.png) no-repeat;
}

.item-info {
  float: left;
  margin: 0 20px;
  width: 290px;
}

.item-info h3 {
  margin: 0;
  font-size: 16px;
  color: #222;
}

.item-info .subtitle {
  margin: 0;
  color: #aaa;
  font-size: 12px;
  min-height: 18px;
}

.item-info .price {
  margin: 8px auto;
  height: 42px;
}

.item-info .price span {
  font-size: 30px;
}

.item-info .location {
  color: #888;
  margin: 10px auto;
  max-height: 50px;
  overflow: hidden;
}

.property {
  background: #f9f9f9;
  padding: 12px 0;
}

.property span {
  margin: 13px;
}

.compact {
  background: url('../images/icon/ic_view_compact.png') no-repeat 0;
}

.bedroom {
  background: url('../images/icon/ic_hotel.png') no-repeat 0;
}

.bathroom {
  background: url('../images/icon/bathtub.png') no-repeat 0;
}

.gara {
  background: url('../images/icon/ic_directions_car.png') no-repeat 0;
}

.compass {
  background: url('../images/icon/compass.png') no-repeat;
}

.floor {
  background: url('../images/icon/offices-buildings.png') no-repeat;
}

.compact,
.bedroom,
.bathroom,
.gara,
.compass,
.floor {
  padding-left: 28px;
  height: 20px;
  line-height: 20px;
}

.button-group {
  border-top: 1px solid #f6f6f6;
  text-align: right;
  box-sizing: border-box;
}

.listview-left .post-date {
  display: block;
  width: 80px;
  float: left;
  color: #3a65f9;

  /*margin-top: 20px;*/
  margin-bottom: 0;
  text-align: left;
}

.gridview .post-date {
  display: block;
  width: 80px;
  float: left;
  color: #3a65f9;
  margin-top: 20px;
  margin-bottom: 0;
  text-align: left;
}

.button-group span {
  display: inline-block;
  border-radius: 3px;
  font-size: 16px;
  padding: 5px 8px;
  margin-top: 7px;
  margin-left: 5px;
}

.favorite {
  border: 1px solid #fe475e;
}

.favorite a {
  color: #fe475e;
}

.favorite:hover {
  background-color: #fe475e;
}

.favorite:hover a {
  color: #fff;
}

.contact {
  border: 1px solid #3a65f9;
}

.contact a {
  color: #3a65f9;
  text-decoration: none;
}

.contact:hover {
  background-color: #3a65f9;
}

.contact:hover a {
  color: #fff;
}

.listview-right {
  width: 580px;
  float: left;
  padding-left: 15px;
}

.listview-right ul {
  margin: 0;
  border-bottom: 1px solid #dfdfdf;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.listview-right ul.tab li {
  display: inline-block;
  margin: 0 14px;
  padding-bottom: 10px;
}

.listview-right ul.tab li:first-child {
  margin-left: 0;
}

.listview-right ul.tab li:last-child {
  margin-right: 0;
}

.listview-right ul.tab li.active,
.listview-right ul.tab li:hover {
  margin-bottom: -1px;
  border-bottom: 1px solid #3a65f9;
}

.listview-right ul.tab li.active a,
.listview-right ul.tab li:hover a {
  color: #3a65f9;
}

.listview-right .description a.more {
  color: #3a65f9;
}

.listview-right .description a.more:hover {
  color: #454545;
}

.listview-right .description p span,
.property-label {
  width: 127px;
  display: inline-block;
  color: #888;
}

.listview-right .property-label {
  float: left;
}

.listview-right .property {
  width: 415px;
  float: left;
  padding: 0;
  background-color: transparent;
}

.gridview .property {
  width: 415px;
  padding: 0;
  background-color: transparent;
}

.listview-left .property {
  width: 300px;
  background: #f9f9f9;
}

.listview-right .property span {
  margin: 0 0 18px 0;
  width: 115px;
  display: inline-block;
}

.listview-right .location,
.gridview .location {
  margin-top: 25px;
  border-top: 1px solid #dfdfdf;
}

.listview-right .location h3 {
  position: relative;
}

.listview-right .address {
  position: absolute;
  right: 0;
  font-size: 14px;
  font-weight: 300;
}

.listview-right .heading {
  background-color: #f9f9f9;
  padding: 13px;
}

.listview-right .heading ul {
  border: none;
  margin-bottom: 0;
}

.listview-right .heading ul li {
  display: inline-block;
  width: 75px;
  margin-left: 13px;
  margin-right: 13px;
  vertical-align: top;
}

.listview-right .heading a {
  display: block;
  text-align: center;
  color: #888;
  font-size: 14px;
  background: url('../images/icon/maps-icon.png') no-repeat top center;
  padding-top: 40px;
}

.listview-right .heading a:hover,
.listview-right .heading a:active {
  text-decoration: none;
  background: url('../images/icon/maps-icon-active.png') no-repeat top center;
  color: #3a65f9;
}

.see-more {
  margin: 90px auto;
  text-align: center;
}

.see-more a {
  padding: 16px 40px;
  border: 1px solid #3a65f9;
  border-radius: 25px;
  color: #3a65f9;
}

.see-more a:hover {
  color: #fff;
  background-color: #3a65f9;
}

.fa-chevron-left,
.carousel-control .fa-chevron-right,
.carousel-control .icon-next,
.carousel-control .icon-prev {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
  margin-top: -10px;
}

.carousel-control .fa-chevron-left,
.carousel-control .fa-chevron-right,
.carousel-control .icon-next,
.carousel-control .icon-prev {
  width: 30px;
  height: 30px;
  margin-top: -10px;
  font-size: 30px;
}

.carousel-control .fa-chevron-left,
.carousel-control .icon-prev {
  left: 50%;
  margin-left: -10px;
}

.carousel-control .fa-chevron-right,
.carousel-control .icon-next {
  right: 50%;
  margin-right: -10px;
}

.location-search {
  margin-top: 25px;
  position: relative;
}

.location-search .result {
  border-top: 1px solid #dfdfdf;
  border-bottom: none;
  margin: 30px 0;
  padding-top: 10px;
  overflow-y: scroll;
  height: 250px;
}

.location-search .result div {
  width: 275px;
  padding-left: 5px;
  padding-right: 5px;
  display: inline-block;
}

.location-search .result div h3 {
  border-bottom: 1px solid #dfdfdf;
  position: relative;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.location-search .result div h3 a {
  color: #3a65f9;
}

.location-search .result div h3 span {
  position: absolute;
  right: 0;
  font-weight: 300;
  color: #aaa;
}

.location-search .result div p {
  color: #aaa;
}

.contact-info {
  margin-top: 25px;
  border-top: 1px solid #dfdfdf;
}

.contact-info .time-to-view {
  padding-right: 0;
  text-align: right;
  width: 250px;
}

.contact-info .personal {
  width: 330px;
}

.other-info {
  margin-top: 25px;
  border-top: 1px solid #dfdfdf;
}

.related {
  overflow-x: hidden;
}

.related .row {
  overflow: overlay;
}

.related h3 {
  background-color: #f9f9f9;
  padding: 13px;
  position: relative;
}

.related h3 span.tool-box {
  position: absolute;
  right: 10px;
  top: 14px;
}

.related h3 span.tool-box a {
  display: inline-block;
  height: 14px;
  width: 10px;
  color: #e8e8e8;
  cursor: pointer;
}

.related h3 span.tool-box a:hover span {
  color: #3a65f9;
}

.related h3 span.tool-box a.prev span {
  padding-top: 1px;
}

.related .post-container {
  height: 395px;

  /*overflow: hidden;*/
  margin-left: 15px;
  margin-right: 15px;
}

.related .related-carousel {
  position: relative;
  overflow: hidden;
}

.related .related-carousel ul {
  width: 10000em;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  border: none;
}

.related .related-carousel li {
  float: left;
}

.related .post-item,
.gridview .post-item {
  display: inline-block;
  width: 280px;
  border: 1px solid #e8e8e8;
  padding: 0;
  margin-top: 20px;
  margin-right: 3px;
}

.gridview .post-item {
  margin: 0 8px 30px;
  width: 280px;
}

.related .post-item:hover,
.gridview .post-item:hover {
  border: 1px solid #3a65f9;
}

.related .post-item .item-info,
.gridview .post-item .item-info {
  margin: 13px 13px 0;
  width: 250px;
  position: relative;
}

.related .post-item .item-info h3,
.gridview .post-item .item-info h3 {
  background: transparent;
  padding-bottom: 0;
  padding: 0;
  max-height: 34px;
  overflow: hidden;
}

.related .post-item .item-thumbnail {
  width: 278px;
  height: 180px;
  position: relative;
}

.gridview .post-item .item-thumbnail {
  width: 278px;
  height: 180px;
  position: relative;
}

.related .like-button,
.gridview .like-button {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fe475e;
  font-size: 24px;
}

.related .post-date,
.gridview .post-date {
  position: absolute;
  top: 25px;
  right: 5px;
  text-align: right;
  font-size: 12px;
  color: #aaa;
}

.related .post-date span,
.gridview .post-date span {
  font-size: 14px;
  color: #3a65f9;
}

.related .post-item .property,
.gridview .post-item .property {
  width: inherit;
}

.related .post-item .property span,
.gridview .post-item .property span {
  margin: 0 5px 0 0;
  width: initial;
}

.related .item-info .location {
  margin-top: 20px;
  padding-top: 10px;
  margin-left: -13px;
  margin-right: -15px;
  padding-left: 13px;
}

.gridview .item-info .location {
  margin-top: 20px;
  padding-top: 10px;
  margin-left: -13px;
  margin-right: -15px;
  padding-left: 13px;
}

.circle {
  border-radius: 50%;
  border: 1px solid;
  width: 80px;
  height: 80px;
  margin: auto;
  padding: 20px 0;
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 5px;
}

.orange-bd {
  border-color: #ffc400;
  color: #ffc400;
}

.green-bd {
  border-color: #91dc5a;
  color: #91dc5a;
}

.red-bd {
  border-color: #fe475e;
  color: #fe475e;
}

.color-gray {
  color: #888;
}

.owl-nav div {
  position: absolute;
  top: -10px;
  font-size: 24px;
}

.owl-nav .owl-prev {
  right: 25px;
}

.owl-nav .owl-next {
  right: 10px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f9f9f9;
}

::-webkit-scrollbar-thumb {
  background: #dfdfdf;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

label {
  font-weight: 300;
}

/*
*
* WHY US
*
*/

.why-us {
  margin-top: 100px;
  margin-bottom: 30px;
}

.why-us p {
  font-size: 16px;
  margin-top: 20px;
}

/*
	SEARCH - GUEST
*/

.nav-search {
  height: 48px;
  padding: 2px 0;
  margin-bottom: 20px;
  background: linear-gradient(#4a8dff, #3a65f9);
  box-shadow: 0 3px 6px #00000014;
}

.nav-search .select-box {
  border-right: 1px solid #dfdfdf;
}

.nav-search .select-box:last-child {
  border-right: 0;
}

.nav-search .select-box .select {
  border: 0;
  height: 44px;
  width: 132px;
  background: #fff;
  box-sizing: border-box;
  position: relative;
}

.nav-search .select-box .select span {
  display: block;
  padding: 12px;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.nav-search .select-box .select span::before {
  content: url(../images/icon/arrow-down.png);
  position: absolute;
  top: 0;
  right: 0;
  height: 44px;
  padding: 12px 10px;
  z-index: 0;
}

.nav-search .select-box input,
.bottom-search-box .header-box input {
  width: 310px;
  height: 44px;
  padding: 12px;
  border: 0;
}

.nav-search .select-box button {
  height: 44px;
  text-transform: uppercase;
  padding: 12px 52px;
  background: linear-gradient(#ff8695, #ff1d3a);
  border-radius: 0 3px 3px 0;
  border: 0;
  color: #fff;
}

.nav-search .select-box:first-child .select {
  border-radius: 5px 0 0 5px;
  width: 110px;
  background: #fff;
  margin-left: 4px;
}

.nav-search .select-box:nth-child(2) .select {
  width: 170px;
  background: #fff;
}

.bottom-search-box .select .dropdown-menu {
  top: 55px;
}

.nav-search .select-box .header-box {
  /*margin-top: -10px;*/
  padding: 10px 15px;
  background: #f6f6f6;
  border-radius: 3px 3px 0 0;
}

.nav-search .dropdown-button {
  margin-top: 10px;
  margin-bottom: 15px;
}

.nav-search .btn-row {
  margin-left: -10px;
  margin-right: -10px;
}

.nav-search .btn-row div {
  padding: 0 10px;
  float: left;
}

.nav-search button.btn-sub {
  width: 115px;
  padding: initial;
  border-radius: 3px;
  height: 40px;
}

.nav-search button.btn-sub.btn-default {
  background: transparent;
  border: 1px solid #3a65f9;
  color: #3a65f9;
}

.nav-search button.btn-sub.btn-primary {
  background: #3a65f9;
  border: 1px solid #3a65f9;
  color: #fff;
}

.bottom-search-box .select .header-box {
  margin-top: -5px;
  padding: 10px 15px;
  background: #f6f6f6;
  border-radius: 3px 3px 0 0;
}

.nav-search .select-box ul {
  padding: 0;
}

.nav-search .select-box ul > li,
.bottom-search-box ul > li,
.top-search-box ul > li {
  height: 40px;
  padding-left: 15px;
  padding-right: 15px;
  line-height: 40px;
  cursor: pointer;
}

.nav-search .select-box ul > li:hover,
.nav-search .select-box ul > li.active,
.bottom-search-box ul > li:hover,
.bottom-search-box ul > li.active,
.top-search-box ul > li:hover,
.top-search-box ul > li.active {
  background: #f6f6f6;
  font-weight: bold;
  color: #3a65f9;
}

.nav-search .select-box .dropdown-menu table span {
  padding: 5px;
}

.nav-search .select-box .dropdown-menu table span::before {
  display: none;
}

.nav-search .select-box .dropdown-menu input,
.bottom-search-box .dropdown-menu input {
  width: 70px;
  height: 30px;
  border: 1px solid #dfdfdf;
  border-radius: 3px;
}

.nav-search .select-box .has-sub {
  right: 0;
  left: auto;
}

.nav-search .select-box .dropdown-submenu {
  position: relative;
  margin-bottom: 15px;
  margin-top: 10px;
}

.nav-search .select-box .dropdown-submenu:hover {
  background: transparent;
  font-weight: 300;
  color: inherit;
}

.nav-search .select-box .dropdown-submenu div {
  position: relative;
  padding-right: 90px;
  width: 250px;
  border: 1px solid #dfdfdf;
  border-radius: 3px;
  padding-left: 12px;
}

.nav-search .select-box .dropdown-submenu div span {
  position: absolute;
  width: 160px;
  top: 0;
  right: 0;
  padding: 0 35px 0 0;
  font-weight: bold;
  text-align: right;
}

.nav-search .select-box .dropdown-submenu div span::before {
  padding: 0 12px 0;
}

.nav-search .select-box .dropdown-submenu .dropdown-menu {
  /*top: 0;*/
  left: 100%;
  margin-top: -1px;
  right: 0;
  left: 0;
  top: 46px;
  margin: 0 15px;
}

.nav-search .select-box .js-type li {
  padding-left: 40px;
}

.nav-search .select-box .js-type li:hover,
.nav-search .select-box .js-type li.active {
  background: #f6f6f6 url('../images/icon/ic_checked.png') no-repeat 13px 13px;
  font-weight: bold;
  color: #3a65f9;
}

.nav-search .select-box li:first-child:hover,
.nav-search .select-box li:first-child.active {
  border-radius: 3px 3px 0 0;
}

.nav-search .select-box li:last-child:hover,
.nav-search .select-box li:last-child.active {
  border-radius: 0 0 3px 3px;
}

#post-date input {
  position: absolute;
  width: 120px;
  top: 5px;
  right: 5px;
  padding: 0 10px;
  text-align: right;
}

.search-posts .listview-left {
  position: relative;
}

.search-posts p.heading {
  color: #888;
  position: relative;
  line-height: 40px;
}

.search-posts p.heading a {
  position: absolute;
  right: 15px;
  height: 40px;
  padding: 10px;
  border-color: #3a65f9;
  color: #3a65f9;
  font-weight: 300;
}

.search-posts p.heading span {
  color: #454545;
}

.search-posts .listview-left .toolbox {
  position: relative;
  text-align: right;
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
  padding: 10px 15px;
}

.search-posts .listview-left .toolbox select {
  height: 40px;
  border-color: #ebebeb;
  color: #888;
  font-size: 14px;
  border-radius: 3px;
}

.toolbox {
  position: absolute;
  right: 0;
  top: -2px;
}

.listview-right .page-info {
  background-color: #f9f9f9;
  padding: 15px;
  margin-bottom: 15px;
}

.acc-panel {
  background-color: #f9f9f9;
  padding-top: 45px;
  padding-bottom: 45px;
  margin-bottom: 20px;
}

.panel-default {
  background: linear-gradient(#4a9eff, #276fea);
}

.panel-primary {
  background: linear-gradient(#63c9ff, #4a8dff);
}

.panel-default,
.panel-primary {
  border-color: #fff;
}

.panel-default > .panel-heading,
.panel-primary > .panel-heading {
  background-color: transparent;
  color: #fff;
  padding: 14px 30px;
  border-color: #fff;
}

.panel-success {
  border-color: #f6f6f6;
}

.panel-success > .panel-heading {
  background: #63c9ff;
  color: #fff;
  text-align: center;
}

.panel-title {
  font-size: 14px;
  position: relative;
}

.panel-title .right-info,
.right-menu .right-info {
  position: absolute;
  right: 0;
  top: 2px;
  width: 60px;
  text-align: right;
}

.panel-title .right-info span,
.right-menu .right-info span {
  width: 20px;
  height: 20px;
  display: inline-block;
  position: relative;
}

.panel-title .right-info span span,
.right-menu .right-info span span {
  position: absolute;
  top: -10px;
  right: -10px;
}

.panel-title .right-info span.ring-icon span,
.right-menu .right-info span.ring-icon span {
  background: #efb700;
  color: #fff;
}

.panel-title .right-info span.chat-icon span,
.right-menu .right-info span.chat-icon span {
  background: #fe475e;
  color: #fff;
}

.panel-title .right-info span.ring-icon {
  background: url('../images/icon/ring.png');
  margin-right: 15px;
}

.panel-title .right-info span.chat-icon {
  background: url('../images/icon/chat.png');
}

.panel > .list-group {
  margin: 0 30px;
  color: #fff;
}

.panel > .list-group > .list-group-item {
  background-color: transparent;
  padding: 5px 0;
  font-weight: 400;

  /*border-color: #ffffff;*/
}

.panel > .list-group > .list-group-item span {
  right: 0;
  position: absolute;
  font-weight: 300;
}

.panel > div {
  padding: 12px 30px;
}

.panel > div > a {
  color: #ffc400;
  font-weight: bold;
}

.panel > div > a:hover {
  color: #fff;
}

.breadcrumb {
  margin-top: 5px;
  padding: 8px 0;
  background: transparent;
  border-bottom: 1px solid #dfdfdf;
  border-radius: 0;
}

/* PRODUCT CONTENT */

.product-info {
  border: 1px solid #dfdfdf;
  width: 284px;
}

.product-info h1 {
  margin-bottom: 0;
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}

.product-info .post-date {
  display: contents;
  margin: 0;
  color: #888;
}

.product-info .price {
  font-size: 22px;
  color: #3a65f9;
  margin-top: 9px;
  margin-bottom: 0;
}

.product-info .property {
  background: transparent;
}

.product-info .property span {
  font-weight: bold;
}

.product-info .location {
  border-top: 1px solid #f6f6f6;
  position: relative;
  padding-top: 17px;
  margin: 20px 0;
}

.product-info .location span.title {
  position: absolute;
  top: -12px;
  display: block;
  padding-right: 5px;
  background: #fff;
  color: #888;
}

.product-info .button-group {
  border: none;
  text-align: inherit;
  margin-top: 15px;
  margin-bottom: 15px;
}

.product-info a {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  margin: 10px auto;
  width: 123px;
}

.product-info a img {
  padding: 5px;
  border-radius: 3px;
  margin-right: 10px;
}

.product-info a.like {
  color: #fe475e;
}

.product-info a.report {
  text-align: right;
  color: #ffa76e;
}

.product-info a.like img {
  border: 1px solid #fe475e;
}

.product-info a.report img {
  border: 1px solid #ffa76e;
}

#product-content .contact-box {
}

#product-content .contact {
  background-color: #f4f7ff;
  border: none;
  padding: 22px 10px;
}

#product-content .contact h3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}

#product-content .contact i {
  width: 20px;
  font-size: 16px;
  text-align: center;
}

#product-content .contact i.fa-mobile {
  font-size: 22px;
}

#product-content .contact i.fa-square {
  font-size: 10px;
  color: #aaa;
}

#product-content .contact:hover {
  background: #f4f7ff;
}

#product-content .contact a {
  color: #3a65f9;
  border: 1px solid #3a65f9;
  background: transparent;
}

#product-content .contact a:hover {
  color: #fff;
  background: #3a65f9;
}

#product-content .contact:hover a {
  color: #fff;
  background: #3a65f9;
}

.call-chat {
  margin: 15px auto;
  padding: 15px 30px;
  background: #6b92ff;
}

.call-chat a {
  display: inline-block;
  height: 22px;
  line-height: 22px;
  padding-left: 33px;
  color: #fff;
}

.call-chat a:hover {
  color: #fff;
}

.call-chat a.call {
  background: url('../images/icon/ic_call.png') no-repeat left;
  border-right: 1px solid #fff;
  width: 103px;
}

.call-chat a.chat {
  background: url('../images/icon/ic_chat.png') no-repeat left;
  margin-left: 30px;
}

#product-content .location-search {
  width: 460px;
  float: left;
  border: 1px solid #dfdfdf;
  margin-top: 0;
}

#product-content .location-search .result-title {
  background: #f9f9f9;
  padding: 15px;
  position: relative;
}

#product-content .location-search .result-title .toolbox {
  position: absolute;
  right: 15px;
  top: 8px;
}

#product-content .location-search .result {
  border: none;
  margin: 0;
  padding-top: 10px;
  overflow-y: scroll;
  height: 283px;
}

#product-content .location-search .result div {
  width: 100%;
}

#product-content .location-search .result div h3 {
  margin-top: 10px;
}

#product-content .location-search .heading {
  position: relative;
  margin: 12px auto;
}

#product-content a.carousel-control {
  height: 376px;
}

.property-carousel {
  position: relative;
  overflow: hidden;
  margin: 0 30px;
}

.property-carousel ul {
  width: 10000em;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
}

.property-carousel li {
  float: left;
  width: 80px;
}

.location-search a.prev,
.location-search a.next,
.indicator a.prev,
.indicator a.next {
  position: absolute;
  top: 33%;
  cursor: pointer;
}

.location-search a.prev {
  left: 5px;
}

.location-search a.next {
  right: 5px;
}

.indicator a.prev {
  left: 25px;
}

.indicator a.next {
  right: 25px;
}

.chevron-left {
  content: url('../images/icon/ic_chevron_left.png');
}

.chevron-right {
  content: url('../images/icon/ic_chevron_right.png');
}

.location-search a:hover .chevron-left {
  content: url('../images/icon/ic_chevron_left_act.png');
}

.location-search a:hover .chevron-right {
  content: url('../images/icon/ic_chevron_right_act.png');
}

.property-carousel a {
  display: block;
  padding-top: 30px;
  text-align: center;
}

.near-me {
  background: url(../images/icon/ic_near_me.png) no-repeat top center;
}

.restaurant {
  background: url(../images/icon/ic_local_dining.png) no-repeat top center;
}

.shopping {
  background: url(../images/icon/ic_shopping_cart.png) no-repeat top center;
}

.sport {
  background: url(../images/icon/football.png) no-repeat top center;
}

.education {
  background: url(../images/icon/ic_local_library.png) no-repeat top center;
}

.property-carousel a.active.near-me,
.property-carousel a.near-me:hover {
  background: url(../images/icon/ic_near_me_act.png) no-repeat top center;
}

.property-carousel a.active.restaurant,
.property-carousel a.restaurant:hover {
  background: url(../images/icon/ic_local_dining_act.png) no-repeat top center;
}

.property-carousel a.active.shopping,
.property-carousel a.shopping:hover {
  background: url(../images/icon/ic_shopping_cart_act.png) no-repeat top center;
}

.property-carousel a.active.sport,
.property-carousel a.sport:hover {
  background: url(../images/icon/football_act.png) no-repeat top center;
}

.property-carousel a.active.education,
.property-carousel a.education:hover {
  background: url(../images/icon/ic_local_library_act.png) no-repeat top center;
}

.desc {
  width: 460px;
}

.product-desc {
  border: 1px solid #dfdfdf;
  padding: 15px;
  text-align: justify;
  margin-bottom: 30px;
  height: 313px;
  overflow-y: scroll;
}

.consultant {
  width: 740px;
}

.cs-content {
  border: 1px solid #dfdfdf;
  padding: 15px;
  text-align: justify;
  margin-bottom: 30px;
}

.cs-content .col-xs-5 {
  width: 40%;
}

.cs-content .col-xs-2 {
  width: 20%;
}

.cs-content .col-xs-7 {
  width: 60%;
}

.cs-content .col-xs-offset-5 {
  margin-left: 40%;
}

.cs-content textarea {
  height: 120px;
  border-radius: 0;
  border-color: #dfdfdf;
}

.cs-content .btn {
  padding: 9px 30px;
}

.cs-content .btn-info {
  background: linear-gradient(#6b92ff, #3a65f9);
}

.cs-content .btn-success {
  background: linear-gradient(#7be583, #19bf25);
  border: #19bf25;
}

.cs-content input {
  border-radius: 0;
  border-color: #dfdfdf;
  height: 40px;
}

.cs-content input[type='text'],
.cs-content input[type='text']::placeholder {
  color: #19bf25;
  font-weight: bold;
}

.cs-content .form-group {
  position: relative;
}

.cs-content .input-addon {
  position: absolute;
  right: 15px;
  top: 35px;
  color: #888;
}

.carousel {
  width: 565px;
}

.indicator {
  position: relative;
  background: #f7f7f7;
  padding: 5px 55px;
  border: 1px solid #dfdfdf;
}

.carousel .thumbnail-slider {
  height: 73px;
  margin-top: -5px;
  padding: 5px;
  position: relative;
  overflow: hidden;
}

.thumbnail-slider ul {
  width: 10000em;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
}

.thumbnail-slider ul li {
  border: medium none;
  border-radius: 0;
  float: left;
  height: 67px;
  margin-bottom: 5px;
  margin-left: 0;
  margin-right: 5px !important;
  margin-top: 0;
  width: 107px;
}

.carousel .thumbnail-slider .carousel-indicators .active {
  height: 67px;
  width: 107px;
}

.carousel .carousel-indicators img {
  border: 2px solid #fff;
  float: left;
  height: 67px;
  left: 0;
  width: 107px;
}

.carousel .carousel-indicators .active img {
  border: 2px solid #39b3d7;
}

.lo-title {
  position: relative;
  font-size: 18px;
}

.lo-title span {
  position: absolute;
  right: 0;
  font-size: 14px;
  font-weight: 300;
}

/*
*
* ĐĂNG TIN
*
*/
.page-title {
  font-size: 16px;
  margin-top: 72px;
}

.page-title .tool-box {
  position: absolute;
  right: 0;
  bottom: 0;
}

.page-title .tool-box li {
  display: inline-block;
  font-weight: 300;
  font-size: 16px;
}

.page-title .tool-box li:nth-child(2) {
  font-size: 32px;
  color: #dfdfdf;
  margin-left: 25px;
}

.page-title .tool-box li:last-child {
  width: 140px;
  text-align: right;
  color: #888;
}

#home-content .page-title .tool-box li span {
  font-size: 24px;
  border-left: 0;
  margin-left: 0;
  padding-left: 0;
  color: #454545;
}

.form-container {
  border: 1px solid #f6f6f6;
  border-radius: 3px;
  box-shadow: 0 3px 6px #00000014;
  min-height: 520px;
  margin-bottom: 97px;
}

.process ul {
  text-align: center;
  position: relative;
}

.process ul::before {
  content: '';
  border-top: 1px solid #dfdfdf;
  position: absolute;
  top: 70px;
  left: 50px;
  width: 85%;
  z-index: -10;
}

.process ul li {
  display: inline-block;
  width: 80px;
  margin-top: 45px;
  margin-bottom: 15px;
  text-align: center;
  cursor: pointer;
}

.process ul li span {
  display: block;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  padding: 14px 0;
  width: 50px;
  border-radius: 50%;
  background: linear-gradient(#eaeaea, #ccc);
  box-shadow: 0 3px 6px #00000029;
  text-align: center;
  margin: 0 auto;
}

.process ul li.done {
  color: #4a8dff;
}

.process ul li.done span {
  background-image: url('../images/ticked.png'), linear-gradient(#63c9ff, #4a8dff);
  background-repeat: no-repeat;
  background-position: 70% 50%;
  padding-right: 15px;
}

.process ul li.active {
  color: #fe475e;
}

.process ul li.active span {
  background: linear-gradient(#ff8695, #ff1d3a);
}

.step {
  display: none;
}

.step.active {
  display: block;
}

.step ul {
  text-align: center;
}

.step > ul > li:hover,
.step > ul > li.selected {
  color: #4a8dff;
}

.step > p > button {
  background: linear-gradient(#7be583, #19bf25);
  border-color: #19bf25;
  color: #fff;
  margin: 20px auto;
  height: 40px;
  width: 154px;
}

#step-1 > ul > li {
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 30px;
}

#step-1 > ul > li > img {
  width: 146px;
  height: 146px;
  margin: 10px 5px;
  padding: 40px 33px;
  border: 1px solid #dfdfdf;
  border-radius: 3px;
}

#step-2 > ul > li {
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 15px;
}

#step-2 > ul > li > img {
  width: 130px;
  height: 130px;
  margin: 10px 23px;
  padding: 40px 33px;
  border: 1px solid #dfdfdf;
  border-radius: 3px;
}

#step-4 {
  margin-left: 25px;
  margin-right: 25px;
}

#step-4 > div {
  margin: 5px auto;
}

#step-4 div.label {
  padding-top: 10px;
  color: #454545;
  font-size: 14px;
  font-weight: 300;
  text-align: left;
}

#step-4 > div > input {
  width: 60px;
  height: 40px;
  text-align: center;
  border-radius: 3px;
  border: 1px solid #dfdfdf;
}

#step-4 > div .ui-state-default {
  border: 1px solid #19bf25;
  background: linear-gradient(#7be583, #19bf25);
  border-radius: 50%;
  width: 25px;
  height: 25px;
}

#step-4 > div .ui-widget-header {
  border: 1px solid #19bf25;
  background: #19bf25;
}

#step-4 > div .ui-slider-horizontal .ui-slider-handle {
  top: -8px;
}

#step-4 > div .ui-widget.ui-widget-content {
  border: 1px solid #ebebeb;
  margin-top: 15px;
}

#step-4 ul {
  text-align: left;
  margin-right: -4px;
  margin-left: -4px;
}

#step-4 ul li {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin: 0 4px;
  border: 1px solid #dfdfdf;
  border-radius: 3px;
  cursor: pointer;
}

#step-4 ul.direction li {
  width: 80px;
  height: 40px;
  line-height: 40px;
  margin-bottom: 9px;
}

#step-4 ul li:hover,
#step-4 ul li.selected {
  border: 1px solid #19bf25;
  color: #19bf25;
}

.step .container {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  width: 180px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 300;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.step .container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.step .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border: 1px solid #dfdfdf;
  border-radius: 3px;
}

.step .container:hover input ~ .checkmark {
  background-color: #ccc;
}

.step .container input:checked ~ .checkmark {
  background-color: #2196f3;
}

.step .checkmark::after {
  content: '';
  position: absolute;
  display: none;
}

.step .container input:checked ~ .checkmark::after {
  display: block;
}

.step .container .checkmark::after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.step .container span {
  font-style: italic;
  color: #888;
}

#step-4 textarea {
  height: 126px;
}

#step-5 h3 {
  position: relative;
  font-size: 14px;
}

#step-5 h3 .fa {
  color: #888;
  font-size: 10px;
  position: absolute;
  left: -20px;
  top: 3px;
}

.step .subtitle > .fa {
  color: #ffa76e;
}

#step-5 div.label {
  padding-top: 20px;
  color: #454545;
  font-size: 14px;
  font-weight: 300;
  padding-right: 30px;
}

#step-5 .form-inline {
  margin-left: -30px;
  margin-top: 7px;
}

#step-5 input#inputPrice {
  width: 315px;
  height: 40px;
}

#step-5 select#inputCurrency {
  width: 115px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #ccc;
  color: #888;
  padding-left: 10px;
}

p.commission {
  position: relative;
  margin-bottom: 40px;
}

p.commission span {
  width: 200px;
  display: block;
  position: absolute;
  top: 0;
  left: 160px;
  color: #19bf25;
  font-weight: bold;
}

p.commission span:last-child {
  top: 20px;
  color: #454545;
  font-weight: 300;
}

div.form-inline {
  margin: 15px 31px;
}

div.form-inline > .form-group {
  margin-left: 7px;
  margin-right: 7px;
}

div.form-inline > .form-group > select {
  width: 130px;
}

div.form-horizontal {
  margin-left: 40px;
  margin-right: 40px;
}

div.form-horizontal .control-label {
  text-align: left;
}

#step-1 > ul > li:hover > img,
#step-1 > ul > li.selected > img,
#step-2 > ul > li:hover > img,
#step-2 > ul > li.selected > img {
  border-color: #4a8dff;
}

#step-6 input {
  height: 40px;
}

#step-7,
#step-8 {
  margin-left: 40px;
  margin-right: 40px;
}

.form-summary {
  height: 520px;
  box-shadow: 0 3px 6px #00000014;
}

.form-summary .list-group > .list-group-item {
  min-height: 40px;
  color: #454545;
  line-height: 30px;
  font-weight: 300;
  position: relative;
}

.form-summary .list-group > .list-group-item span {
  position: absolute;
  right: 0;
  top: 5px;
  text-align: right;
}

.form-summary .list-group > .list-group-item .properties {
  line-height: 20px;
  text-align: right;
  margin-top: -25px;
}

ul.post-news {
  text-align: center;
}

ul.post-news > li {
  display: inline-block;
  margin: 140px 76px;
}

ul.post-news > li > a {
  display: block;
  padding-top: 152px;
  width: 130px;
  height: 170px;
  font-weight: bold;
  font-size: 16px;
}

ul.post-news > li > a.post-by-call {
  background: url(../images/icon/ic_call_button.png) no-repeat top center;
}

ul.post-news > li > a.post-by-email {
  background: url(../images/icon/ic_send_mail.png) no-repeat top center;
}

ul.post-news > li > a.post-by-form {
  background: url(../images/icon/ic_form_button.png) no-repeat top center;
}

/*
 *
 * FOTTER STYLE
 *
*/

footer {
  padding-top: 80px;
  background: linear-gradient(#63c9ff, #3a65f9);
  color: #fff;
}

footer .row {
  margin-left: -15px;
  margin-right: -15px;
}

footer h2 {
  margin-bottom: 23px;
  font-size: 16px;
  color: #fff;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer ul li {
  height: 30px;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  color: #454545;
}

.link-app {
  margin-left: -10px;
}

.social-icon a {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  text-align: center;
  border-radius: 21px;
  border: 1px solid #fff;
  margin-right: 10px;
}

.copyright {
  border-top: 1px solid #ffffff54;
  margin-top: 40px;
  padding: 23px 0;
  text-align: center;
  font-size: 12px;
  color: #9bb2ff;
}

.copyright p {
  margin: 0;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}
