@import url(fonts.css);

body {
  margin: 0;
  font-family: Helvetica Neue !important;
  font-weight: 300;
  font-size: 14px;
  color: #454545;
  background-color: #fff;
  min-width: 320px;
}

a {
  color: #454545;
  text-decoration: none;
}

a:hover {
  color: #4a8dff;
  text-decoration: none;
}

.justify-content-center {
  display: flex;
  justify-content: space-around;
}

.popup {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
}

.popup .popup-container {
  width: 100%;
  background-color: #fff;
}

.popup .popup-container .popup-header {
  position: fixed;
  top: 0;
  left: 0;
  line-height: 50px;
  width: 100%;
  height: 50px;
  background-color: #5e23dc;
  color: #fff;
}

.popup .popup-container .popup-header-left {
  font-size: 16px;
  color: #fff;
  float: left;
  text-align: center;
  width: 40px;
  line-height: 50px;
  padding-left: 10px;
  padding-top: 1px;
  margin-right: 15px;
}

.popup .popup-container .popup-header-right {
  width: 60px;
  font-size: 14px;
  padding: 0 10px;
  line-height: 50px;
  color: #fff;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.popup .popup-container .popup-header-middle {
  left: 40px;
  position: absolute;
  top: 0;
  text-align: center;
  line-height: 50px;
  width: 75%;
  height: 50px;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.popup .popup-container .popup-body {
  padding-bottom: 100px;
}

.am-list-item .am-input-control input,
.am-list-item .am-input-label {
  font-size: 15px !important;
}

.ReactModal__Overlay {
  z-index: 2;
  overflow-y: auto;
}

.ReactModalPortal .ant-row-flex {
  padding-bottom: 56px;
}

/* City */

.cc-selector .ant-col-6 {
  width: auto !important;
}

.cc-selector input {
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.cc-selector .sale {
  background-image: url('/images/icon/ic_sale.png');
}

.cc-selector .rent {
  background-image: url('/images/icon/ic_rent.png');
}

.cc-selector .aparment {
  background-image: url('/images/icon/aparment.png');
}

.cc-selector .home {
  background-image: url('/images/icon/house.png');
}

.cc-selector .home-villa {
  background-image: url('/images/icon/house.png');
}

.cc-selector .home-street-side {
  background-image: url('/images/icon/house.png');
}

.cc-selector .land-scape {
  background-image: url('/images/icon/house-plan-scale.png');
}

.cc-selector .land-of-project {
  background-image: url('/images/icon/house-sketch.png');
}

.cc-selector .land-farm {
  background-image: url('/images/icon/house-sketch.png');
}

.cc-selector .land-resort {
  background-image: url('/images/icon/hotel.png');
}

.cc-selector .office {
  background-image: url('/images/icon/hotel.png');
}

.cc-selector .warehouses {
  background-image: url('/images/icon/warehouse.png');
}

.cc-selector .kiosks {
  background-image: url('/images/icon/shop.png');
}

.cc-selector .motel-room {
  background-image: url('/images/icon/hotel.png');
}

.cc-selector .hanoi {
  background-image: url('/images/icon/hanoi.jpg');
}

.cc-selector .hochiminh {
  background-image: url('/images/icon/hochiminh.png');
}

.cc-selector .danang {
  background-image: url('/images/icon/danang.jpg');
}

.cc-selector input:active + .drinkcard-cc {
  opacity: 0.9;
}

.cc-selector input:checked + .drinkcard-cc {
  -webkit-filter: none;
  -moz-filter: none;
  filter: none;
}

.cc-selector .image-block {
  display: inline-block;
}

.cc-selector .image-block .image-item {
  width: 100px;
  height: 100px;
  margin: 10px 5px;
  padding: 25px 15px;
  border: 1px solid #dfdfdf;
  border-radius: 3px;
}

.cc-selector .image-block .image-item:hover {
  border: 1px solid #4a8dff;
}

.cc-selector .image-block .image-item.active {
  border: 1px solid #4a8dff;
}

.cc-selector .image-block .image-big-item {
  width: 140px;
  height: 140px;
  margin: 10px 5px;
  padding: 25px 15px;
  border: 1px solid #dfdfdf;
  border-radius: 3px;
}

.cc-selector .image-block .image-big-item:hover {
  border: 1px solid #4a8dff;
}

.cc-selector .image-block .drinkcard-cc {
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 68px;
  height: 68px;
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
  -webkit-filter: brightness(1.8) grayscale(1) opacity(0.7);
  -moz-filter: brightness(1.8) grayscale(1) opacity(0.7);
  filter: brightness(1.8) grayscale(1) opacity(0.7);
}

.cc-selector .image-block .drinkcard-cc:hover {
  -webkit-filter: brightness(1.2) grayscale(0.5) opacity(0.9);
  -moz-filter: brightness(1.2) grayscale(0.5) opacity(0.9);
  filter: brightness(1.2) grayscale(0.5) opacity(0.9);
}

.cc-selector .image-block p {
  text-align: center;
}

.cc-selector .image-block p:hover {
  color: #4a8dff;
}

/* Checkbox */
.ant-checkbox-wrapper {
  background-color: #5e23dc;
  border-radius: 18px;
  color: #fff;
  line-height: 30px;
  padding: 0 15px;
  border: none;
  position: relative;
}

.ant-checkbox-checked .ant-checkbox-inner {
  display: block !important;
}

.ant-checkbox-inner {
  display: none;
  border: none !important;
  background-color: #5e23dc !important;
  top: 2px !important;
}

.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border: none !important;
}

/* District */

.ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  background: #5e23dc !important;
  border-color: #5e23dc !important;
  border-radius: 18px;
  margin: 5px 5px 0 0;
}

.ant-radio-button-wrapper-checked,
.ant-radio-button-wrapper-checked:active,
.ant-radio-button-wrapper-checked:hover,
.ant-radio-button-wrapper:hover,
.ant-radio-button-wrapper-focused {
  background: #5e23dc !important;
  border-color: #5e23dc !important;
  color: #fff;
}

.ant-radio-button-wrapper:first-child {
  border-radius: 18px !important;
  border-left: none !important;
}

.ant-radio-button-wrapper:last-child {
  border-radius: 18px !important;
  border-left: none !important;
}

.ant-radio-button-wrapper {
  border-radius: 18px;
  margin: 5px 5px 0 0;
  border-left: none !important;
  position: inherit !important;
}

.am-picker-col-item {
  font-size: 15px !important;
}

.am-picker-col-item-selected {
  font-size: 16px !important;
}

.am-list-content {
  font-size: 14px !important;
}

.am-list-extra {
  font-size: 14px !important;
}

.am-textarea-control textarea {
  font-size: 14px !important;
}

.am-picker-popup-item {
  font-size: 14px !important;
}

.am-list-item .am-input-control {
  font-size: 14px !important;
}

/* Home page start */

.app-container .am-navbar {
  height: 50px !important;
  background-color: #5e23dc !important;
}

.app-container .am-navbar .logo {
  width: 115px;
  margin: 0 auto;
  position: relative;
  color: #fff;
  font-size: 20px;
}

.app-container .am-card-body {
  padding: 0;
}

.app-container .am-card-body .post-item {
  padding-bottom: 15px;
  padding-top: 15px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #f6f6f6;
  box-sizing: border-box;
}

.app-container .am-card-body .post-item.active,
.app-container .am-card-body .post-item:hover {
  border-top: 1px solid #3a65f9;
  border-bottom: 1px solid #3a65f9;
  background: #efefef;
  box-sizing: border-box;
}

.app-container .am-card-body .item-display a {
  color: #454545;
  text-decoration: none;
}

.app-container .am-card-body .item-display a:hover {
  color: #454545;
}

.app-container .am-card-body .property {
  padding: 15px 0 0 10px;
}

.app-container .am-card-body .property span {
  margin-right: 40px;
}

.app-container .am-card-body .item-display {
  display: flex;
  padding: 15px 0 0 10px;
}

.app-container .am-card-body .item-display img {
  object-fit: cover; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  width: 110px;
  height: 95px;
}

.app-container .am-card-body .item-display .item-info {
  line-height: 1;
  margin: 0 10px;
}

.app-container .am-card-body .item-display .item-info .like-button {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fe475e;
  font-size: 24px;
}

.app-container .am-card-body .item-display .item-info .title {
  margin: 0;
  font-size: 16px;
  color: #222;
}

.app-container .am-card-body .item-display .item-info .title h3 {
  background: transparent;
  padding-bottom: 0;
  padding: 0;
  max-height: 34px;
  overflow: hidden;
  margin: 0;
  font-size: 16px;
  color: #222;
}

.app-container .am-card-body .item-display .item-info .subtitle {
  margin: 5px 0 0 0;
  color: #aaa;
  font-size: 12px;
  min-height: 18px;
}

.app-container .am-card-body .item-display .item-info .type-sell {
  width: 82px;
  height: 24px;
  line-height: 24px;
  font-size: 10px;
  padding-right: 10px;
  color: #fff;
  text-align: center;
  background: url(/images/sell_bg.png) no-repeat;
}

.app-container .am-card-body .item-display .item-info .type-rent {
  width: 82px;
  height: 24px;
  line-height: 24px;
  font-size: 10px;
  padding-right: 10px;
  color: #fff;
  text-align: center;
  background: url(/images/rent_bg.png) no-repeat;
}

.app-container .am-card-body .item-display .item-info .price {
  margin: 8px auto;
}

.app-container .am-card-body .item-display .item-info .price span {
  font-size: 30px;
}

.app-container .am-card-body .item-display .item-info .post-date {
  position: absolute;
  top: 62px;
  right: 10px;
  text-align: right;
  font-size: 12px;
  color: #aaa;
  display: block;
  width: 80px;
  float: left;
  margin-top: 20px;
}

.app-container .am-card-body .item-display .item-info .post-date span {
  font-size: 14px;
  color: #3a65f9;
}

.app-container .am-card-body .location {
  margin-top: 20px;
  padding-top: 10px;
  margin-left: -13px;
  margin-right: -15px;
  padding-left: 13px;
  margin-top: 25px;
  border-top: 1px solid #dfdfdf;
  color: #888;
  margin: 10px auto;
  max-height: 50px;
  overflow: hidden;
}

.compact {
  background: url('/images/icon/ic_view_compact.png') no-repeat 0;
}

.bedroom {
  background: url('/images/icon/ic_hotel.png') no-repeat 0;
}

.bathroom {
  background: url('/images/icon/ic_bathtub.png') no-repeat 0;
}

.gara {
  background: url('/images/icon/ic_directions_car.png') no-repeat 0;
}

.compass {
  background: url('/images/icon/ic_compass.png') no-repeat 0;
}

.floor {
  background: url('/images/icon/ic_offices-buildings.png') no-repeat 0;
}

.compact,
.bedroom,
.bathroom,
.gara,
.compass,
.floor {
  padding-left: 25px;
  height: 20px;
  line-height: 20px;
}

/* Home page end */

/* Detail page start */

.app-container .breadcrumb {
  border: 1px solid #dfdfdf;
  background: #fff;
  padding: 10px;
  font-weight: 400;
}

.app-container .am-flexbox-item .product-info {
  border: 1px solid #dfdfdf;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: #fff;
}

.app-container .am-flexbox-item .product-info h1 {
  margin-bottom: 0;
  font-size: 18px;
  font-weight: bold;
}

.app-container .am-flexbox-item .product-info .post-date {
  display: contents;
  margin: 0;
  color: #888;
}

.app-container .am-flexbox-item .product-info .price {
  font-size: 22px;
  color: #3a65f9;
  margin-top: 9px;
  margin-bottom: 0;
}

.app-container .am-flexbox-item .product-info .property {
  background: transparent;
}

.app-container .am-flexbox-item .product-info .property span {
  font-weight: bold;
}

.app-container .am-flexbox-item .product-info .location {
  border-top: 1px solid #f6f6f6;
  position: relative;
  padding-top: 17px;
  margin: 20px 0;
}

.app-container .am-flexbox-item .product-info .location span.title {
  position: absolute;
  top: -12px;
  display: block;
  padding-right: 5px;
  background: #fff;
  color: #888;
}

.app-container .am-flexbox-item .product-info .button-group {
  border: none;
  text-align: inherit;
  margin-top: 15px;
  margin-bottom: 15px;
}

.app-container .am-flexbox-item .product-info a {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  margin: 10px auto;
  width: 123px;
}

.app-container .am-flexbox-item .product-info a img {
  padding: 5px;
  border-radius: 3px;
  margin-right: 10px;
}

.app-container .am-flexbox-item .product-info a.like {
  color: #fe475e;
}

.app-container .am-flexbox-item .product-info a.report {
  text-align: right;
  color: #ffa76e;
}

.app-container .am-flexbox-item .product-info a.like img {
  border: 1px solid #fe475e;
}

.app-container .am-flexbox-item .product-info a.report img {
  border: 1px solid #ffa76e;
}

.app-container .am-flexbox-item .slider .slider-list img {
  object-fit: cover; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  height: 255px;
}


/* Contact box */

.app-container .am-flexbox-item .contact-box {
  margin-left: 5px;
  margin-right: 5px;
}

.app-container .am-flexbox-item .contact {
  border: 1px solid #dfdfdf;
  background-color: #fff;
  padding: 22px 10px;
}

.app-container .am-flexbox-item .contact h3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}

.app-container .am-flexbox-item .contact i {
  width: 20px;
  font-size: 16px;
  text-align: center;
}

.app-container .am-flexbox-item .contact i.fa-mobile {
  font-size: 22px;
}

.app-container .am-flexbox-item .contact i.fa-square {
  font-size: 10px;
  color: #aaa;
}

.app-container .am-flexbox-item .contact:hover {
  background: #f4f7ff;
}

.app-container .am-flexbox-item .contact a {
  color: #3a65f9;
  border: 1px solid #3a65f9;
  background: transparent;
}

.app-container .am-flexbox-item .contact a:hover {
  color: #fff;
  background: #3a65f9;
}

.app-container .am-flexbox-item .contact:hover a {
  color: #fff;
  background: #3a65f9;
}

.app-container .am-flexbox-item .call-chat {
  margin: 15px 0 0 0;
  padding: 15px 30px 15px 80px;
  background: #6b92ff;
}

.app-container .am-flexbox-item .call-chat a {
  display: inline-block;
  height: 22px;
  line-height: 22px;
  padding-left: 33px;
  color: #fff;
}

.app-container .am-flexbox-item .call-chat a:hover {
  color: #fff;
}

.app-container .am-flexbox-item .call-chat a.call {
  background: url('/images/icon/ic_call.png') no-repeat left;
  border-right: 1px solid #fff;
  width: 103px;
}

.app-container .am-flexbox-item .call-chat a.chat {
  background: url('/images/icon/ic_chat.png') no-repeat left;
  margin-left: 30px;
}

/* location search */

.app-container .am-flexbox-item .location-search {
  margin-left: 5px;
  margin-right: 5px;
  background-color: #fff;
}

.app-container .am-flexbox-item .location-search .nearby div {
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
  display: inline-block;
}

.app-container .am-flexbox-item .location-search .nearby div .title {
  color: #3a65f9;
  font-weight: 400;
}

.app-container .am-flexbox-item .location-search .nearby div p span {
  float: right;
  font-weight: 300 !important;
  color: #aaa;
}

.app-container .am-flexbox-item .location-search .nearby {
  overflow-y: scroll;
  height: 320px;
}

.app-container .contact-footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
  padding: 10px 12px;
  background: #fff;
  border-top: 1px solid #e6e6e6;
}

.app-container .contact-footer-button {
  display: inline-block;
  height: 44px;
  width: 100%;
  line-height: 44px;
  outline: 0;
  padding: 0 15px;
  text-align: center;
  font-size: 16px;
  border-radius: 2px;
  border: 1px solid #1dd38f;
  background: #1dd38f;
  color: #fff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.app-container .contact-footer .contact-parent {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 1;
}

/* Detail page end */


/* Footer page */

.dummy-footer {
  margin-bottom: 56px;
}

.footer {
  color: #fff;
}

.footer .info {
  padding-top: 10px;
  text-align: center;
  background: linear-gradient(#63c9ff, #3a65f9);
  color: #fff;
}

.footer .link-app {
  margin-left: -10px;
}

.footer .social-icon a {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  text-align: center;
  border-radius: 21px;
  border: 1px solid #fff;
  margin-right: 10px;
  color: #fff;
  text-decoration: none;
}

.footer .copyright {
  border-top: 1px solid #ffff54;
  margin-top: 40px;
  padding: 23px 0;
  text-align: center;
  font-size: 12px;
  color: #9bb2ff;
}

.footer .copyright p {
  margin: 0;
}
