@import url(fonts.css);

body {
  margin: 0px;
  font-family: Helvetica Neue !important;
  font-weight: 300;
  font-size: 14px;
  color: #454545;
  background-color: #fff;
}

.app-container .my-drawer {
  position: relative;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.app-container .my-drawer .am-drawer-sidebar {
  background-color: #fff;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.app-container .my-drawer .am-drawer-sidebar .am-list {
  width: 300px;
  padding: 0;
}

.app-container .am-navbar {
  background-color: #fff !important;
  color: #000;
}

.app-container .am-navbar img {
  float: left;
  height: 20px;
}

.app-container .am-card-body {
  padding: 0;
}

.app-container .item-display {
  display: flex;
  padding: 15px 10px;
}

.app-container .item-display img {
  object-fit: cover; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  width: 110px;
  height: 80px;
}

.app-container .item-info {
  line-height: 1;
  margin: 0px 10px;
}

.app-container .item-info .title {
  margin: 0;
  font-size: 16px;
  color: #222;
}

.app-container .item-info .price {
  margin: 8px auto;
}

.app-container .item-info .price span {
  font-size: 30px;
}

.app-container .item-info .property span {
  margin-right: 5px;
}

.compact {
  background: url('/images/icon/ic_view_compact.png') no-repeat 0;
}

.bedroom {
  background: url('/images/icon/ic_hotel.png') no-repeat 0;
}

.bathroom {
  background: url('/images/icon/ic_bathtub.png') no-repeat 0;
}

.gara {
  background: url('/images/icon/ic_directions_car.png') no-repeat 0;
}

.compass {
  background: url('/images/icon/ic_compass.png') no-repeat 0;
}

.floor {
  background: url('/images/icon/ic_offices-buildings.png') no-repeat 0;
}

.compact,
.bedroom,
.bathroom,
.gara,
.compass,
.floor {
  padding-left: 25px;
  height: 20px;
  line-height: 20px;
}
