.searchHeader {
    margin-top: -50px;
    margin-bottom: 60px;
    background-image: url(https://assets-0.housingcdn.com/mobile/images/return-home-bg-mobile-52ef390a71eae9082345fb1fb8272c49.jpg);
    height: 170px;
    background-color: #673acc;
}

.logo {
    color: #fff;
    font-size: 20px;
    width: 115px;
    height: 50px;
    margin: 0 auto;
    padding-top: 10px;
    z-index: 1;
    position: relative;
}

.searchBody {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  color: #fff;
  padding-top: 80px;
}

.searchBoxContainer {
    text-align: center;
    position: relative;
    z-index: 1;
}

.title {
    display: inline-block;
    font-size: 30px;
    color: #fff;
    font-weight: 700;
    letter-spacing: -1px;
}

.citySelect {
    display: block;
    font-size: 20px;
    color: #fff;
    margin-bottom: 24px;
    height: 26px;
}

.dummyNearby {
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
    box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
    max-width: 85%;
    width: 100%;
    background-color: #fff;
    display: inline-block;
    text-align: left;
    height: 44px;
    line-height: 44px;
    font-size: 14px;
    padding: 0 0 0 15px;
    border-radius: 2px;
    will-change: transform;
    -webkit-transform: translateY(0) translateZ(0);
    transform: translateY(0) translateZ(0);
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.text {
    color: #7f7f7f;
}

.searchIcon {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #1dd38f;
    width: 46px;
    height: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
}
