
.ib {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 5px;
  text-align: center;
}

.hListItem {
  width: 97%;
  position: relative;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
}

.hListItem .listImg {
  width: 100%;
  height: 130px;
}

.hListItem .imageSection {
  width: 100%;
  height: 130px;
}

.hListItem .imageSection > img {
  background-position: 50%;
  background-size: cover;
}

.hListItem .typeSell {
  width: 82px;
  height: 24px;
  position: absolute;
  top: 6px;
  left: 6px;
  line-height: 24px;
  font-size: 10px;
  padding-right: 10px;
  color: #fff;
  text-align: center;
  background: url(/images/sell_bg.png) no-repeat;
}

.hListItem .typeRent {
  width: 82px;
  height: 24px;
  position: absolute;
  top: 6px;
  left: 6px;
  line-height: 24px;
  font-size: 10px;
  padding-right: 10px;
  color: #fff;
  text-align: center;
  background: url(/images/rent_bg.png) no-repeat;
}

.caption {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 35%;
  background: linear-gradient(hsla(0,0%,100%,0),#222);
}

.tag {
  color: #fff;
  text-align: justify;
  padding: 5px;
}
