.cardContent {
  padding: 0 0 25px 10px;
  background-color: #fff;
}

.title {
  color: #7f7f7f;
  margin-bottom: 5px;
  font-size: 14px;
  margin-top: 15px;
}

.hlTitle {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cardTitle {
  color: #000;
  margin-bottom: 4px;
  margin-top: 4px;
  margin-right: 8px;
  font-size: 16px;
  font-weight: 500;
}

.cardSubtitle {
  color: #7f7f7f;
  font-size: 12px;
  float: right;
}

.horizontalList {
  width: auto;
  height: 120px;
  margin-top: 12px;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  -webkit-overflow-scrolling: touch;
}

.horizontalList a {
  border: none;
  outline: none;
  box-sizing: border-box;
  font-weight: 400;
  color: #000;
  text-decoration: none;
}

.ib {
  display: inline-block;
  vertical-align: top;
}

.hListItem {
  background: #fff;
  width: 130px;
  height: 130px;
  padding: 5px;
  position: relative;
  margin-right: 10px;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
}

.hListItem .listImg {
  width: 130px;
  height: 130px;
  display: block;
  background-color: #cdcdcd;
}

.hListItem .imageSection {
  margin-right: 12px;
  width: 130px;
  height: 130px;
}

.hListItem .imageSection > img {
  background-position: 50%;
  background-size: cover;
}

.hListItem .contentSection {
  width: 130px;
}

.hListItem .contentSection > div {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.hListItem .listHeading {
  font-weight: 300;
  line-height: 24px;
  font-size: 14px;
  color: #000;
}

.hListItem .listLocality {
  color: rgba(0, 0, 0, 0.4);
  margin-bottom: 10px;
}

.hListItem .listLocality,
.hListItem .listSubheading {
  line-height: 22px;
  color: #7f7f7f;
}

.hListItem .contentSection .listContent .listPrice {
  font-size: 14px;
  font-weight: 500;
  color: #000;
}

.hListItem .typeSell {
  width: 82px;
  height: 24px;
  position: absolute;
  top: 6px;
  left: 6px;
  line-height: 24px;
  font-size: 10px;
  padding-right: 10px;
  color: #fff;
  text-align: center;
  background: url(/images/sell_bg.png) no-repeat;
}

.hListItem .typeRent {
  width: 82px;
  height: 24px;
  position: absolute;
  top: 6px;
  left: 6px;
  line-height: 24px;
  font-size: 10px;
  padding-right: 10px;
  color: #fff;
  text-align: center;
  background: url(/images/rent_bg.png) no-repeat;
}

.tag {
  position: absolute;
  bottom: 10px;
  z-index: 1;
  width: 130px;
  text-align: justify;
  padding: 5px;
  height: 33%;
  overflow: hidden;
}
