.container {
  width: 100%;
  background-color: #e6e6e6;
}

.body {
  padding-top: 50px;
}

.breadcrumb {
  padding: 10px 0;
}

.contactBtn {
  float: right;
  width: 96px;
  height: 32px;
  background-color: #32d38f;
  color: #fff;
  line-height: 2.1;
  text-align: center;
  margin-right: 10px;
}
